body{
    background-image:url("https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:100%;
    background-repeat:no-repeat;
    

}
div{
    background-color: brown;
    margin: 300px;
}